.wrapper {
    height: var(--user-header-height);
    padding: 15px 17px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
}
.inner {
}
.logo {
}
.actions {
}
