.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 80px;
}
.pagination .page-num {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
}

.pagination .page-num:hover {
    background-color: #e03c31;
    color: white;
}

.pagination .active .page-num {
    background-color: #e03c31;
    color: white;
}
